
  // background: #090101;
.ic {
  padding: 30px 20px;

  @include margin(70px, 0);
  padding: 30px 60px;
  word-break: normal;

  .intro-peragraph {
    padding: 0 20px;
    text-align: left;
    p {
      line-height: 30px;
      color: $light-gray;
    }
    .page-title {
      color: $orange-yellow-crayola;
      word-spacing: 2px;
      letter-spacing: 1px;

    }
    .what-i-do {
      @include margin(50px, 0);
    }
  }
  .page-title {
    color: $orange-yellow-crayola;
  }
  .row {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    .col-1{
      width: 50%;
    }
    .col-2{
      width: 50%;
    }
   .roll-title{
    font-size: 1.2rem;
   }
  }
}



@media screen and (max-width: 1068px) {
  .ic {
    @include margin(30px, 0);
    padding: 15px 0px;
   
  
    .intro-peragraph {
      
      p {
        line-height: 26px;
        font-size: 0.95em;
      }
     
      .what-i-do {
        @include margin(30px, 0);
      }
    }
    .page-title {
      color: $orange-yellow-crayola;
    }
    .row {
      .col-1{
        width: 60%;
      }
      .col-2{
        width: 50%;
      }
     .roll-title{
      font-size: 1rem;
     }
    }
  }
  
}






@media screen and (max-width: 768px) {
  .ic {
 
    @include margin(15px, 0);

   
  
    .intro-peragraph {
      
      p {
        line-height: 25px;
        font-size: 0.95em;
      }
    }
    .page-title {
      color: $orange-yellow-crayola;
    }
    .row {
     
      display: block;
      .col-1{
        width: 100%;
        margin: 10px 0;
      }
      .col-2{
        margin: 10px 0;

        width: 100%;

      }
     .roll-title{
      font-size: 1rem;
     }
    }
  }
  
}