.contact-div {
  margin: 20px 0;

  .contact-wrapper {
    input,
    textarea {
      @include BoxStyle();
      @include BorderGradient();
      outline: none;
      color: $light-gray;
      font-size: 1rem;
      margin: 15px 0;
      width: 100%;
      border-radius: 6px;
      @include padding(6px, 10px);
    }

    .sec-row {
      // Removed display: flex

      .emails {
        width: 100%;
      }

      .message {
        width: 100%;
        resize: vertical; // Allows vertical resizing
        min-height: 100px; // Set a minimum height
      }
    }

    .names {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1068px) {
  .contact-div {
    .contact-wrapper {
      input,
      textarea {
        font-size: 0.9rem;
        border-radius: 5px;
      }

      .sec-row {
        display: block;

        .emails,
        .message {
          width: 100%;
          border-radius: 5px;
        }

        .message {
          min-height: 80px; // Slightly smaller minimum height for mobile
        }
      }

      .names {
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}

// Add these new styles for error and success messages
.error-message {
  color: #ff0000;
  margin-top: 10px;
  font-size: 0.9rem;
}

.success-message {
  color: #00ff00;
  margin-top: 10px;
  font-size: 0.9rem;
}