.personal {
  @include BoxStyle();
  @include BorderGradient();
  border-radius: 16px;
  width: 35%;
  transition: transform 0.5s;
  &:hover {
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.25);
  }

  .profile-img {
    text-align: center;
    img {
      background: $bg-gradient-onyx;
      border-radius: 5px;
      margin-top: 10px;
      box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.653);

      height: 200px;
    }

    h2 {
      @include Fonts(1.3rem, 600);
      line-height: 50px;
    }

    .prof-title {
      background-color: $light-gray-70;
      line-height: 25px;
      @include width(70%, 0, auto);
      color: $onyx;
      @include Fonts(1rem, 600);
    }
  }
  hr {
    background-color: $light-gray-70;
    height: 1px;
  }
  .social {
    display: flex;
    align-items: center;
    gap: 20px;
    @include margin(20px, 10px);

    .title {
      color: $light-gray-70;
      border: none;
    }
    ion-icon {
      color: $orange-yellow-crayola;
      // border: 2px solid red;
      padding: 5px 3px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s ease background;

      &:hover {
        box-shadow: 2px 3px 10px rgba(184, 182, 182, 0.653);
        rotate: 2deg;
      }
    }
    .social-links {
      color: $white-2;

      @include Fonts(1rem, 300);
    }
  }
}

@media screen and (max-width: 1068px) {
  .personal {
    border-radius: 11px;
    width: 40%;
    transition: 0.5s transform !important;

    .profile-img {
      text-align: center;
      img {
        background: $bg-gradient-onyx;
        border-radius: 8px;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.653);
        margin-top: 2px;
        height: 160px;
      }

      h2 {
        @include Fonts(1.1rem, 500);
        line-height: 30px;
      }

      .prof-title {
        background-color: $light-gray-70;
        line-height: 22px;
        @include width(60%, 0, auto);
        color: $onyx;
        @include Fonts(1rem, 500);
      }
    }
    hr {
      background-color: $light-gray-70;
      height: 1px;
    }
    .social-div {
      display: block;
      width: 90%;
      margin: 0 auto;
      .social {
        align-items: center;
        gap: 5px;
        @include margin(20px, 10px);

        .title {
          color: $light-gray-70;
          font-size: 0.9rem;
        }
        ion-icon {
          color: $orange-yellow-crayola;
          // border: 2px solid red;
          padding: 3px 2px;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.5s ease background;
          
          &:hover {
            user-select: none;
            box-shadow: 2px 3px 10px rgba(184, 182, 182, 0.653);
            rotate: 1deg;
          }
        }
        .social-links {
          @include Fonts(0.9rem, 300);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .personal {
    border-radius: 4px;
    @include width(90%, 0, auto);
    .profile-img {
      text-align: center;
      img {
        height: 150px;
      }

      h2 {
        @include Fonts(1rem, 500);
        line-height: 30px;
      }

      .prof-title {
        background-color: $light-gray-70;
        @include width(30%, 0, auto);
        @include Fonts(1rem, 400);
      }
    }
    .social-div {
      display: block;
      width: 100%;
      margin: 13px auto;
      .social {
        align-items: center;
        gap: 5px;
        @include margin(20px, 10px);

        .title {
          color: $light-gray-70;
          font-size: 0.9rem;
        }
        ion-icon {
          border-radius: 4px;
          cursor: pointer;
          transition: 0.5s ease;
        }
        .social-links {
          @include Fonts(0.8rem, 300);
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .personal {
    border-radius: 4px;
    @include width(100%, 0, auto);
    .profile-img {
      img {
        height: 180px;
      }

      h2 {
        @include Fonts(1rem, 500);
      }

      .prof-title {
        @include width(50%, 0, auto);
      
      }
    }

    .social {
      gap: 10px;
      .social-links {
        @include Fonts(0.9rem, 300);
      }
    }
  }
}
